/* Document rendering styles */
div.ProseMirror {
	margin-top: 44px;
	height: 100%;
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	padding: 4px 8px 200px 14px;
	line-height: 150%;
	font-size: 14px;
	outline: none;

	&[contenteditable=true],
	&[contenteditable=false],
	[contenteditable=true],
	[contenteditable=false] {
		border: none !important;
		width: 100%;
		background-color: transparent;
		color: var(--color-main-text);
		opacity: 1;
		-webkit-user-select: text;
		user-select: text;
		font-size: 14px;
	}

	.checkbox-item {
		display: flex;
		align-items: start;
		// Left-align with list item text
		margin-left: -23px;

		input[type=checkbox] {
			display: none;
		}
		&:before {
			content: '';
			vertical-align: middle;
			margin: 3px 6px 3px 2px;
			border: 1px solid var(--color-text-maxcontrast);
			position: relative;
			display: block;
			border-radius: var(--border-radius);
			height: 14px;
			width: 14px;
			box-shadow: none !important;
			background-position: center;
			cursor: pointer;
		}
		&.checked:before {
			background-image: url('../../img/checkbox-mark.svg');
			background-color: var(--color-primary-element);
			border-color: var(--color-primary-element);
		}
		label {
			display: block;
			flex-grow: 1;
			max-width: calc(100% - 28px);
		}
	}

	> *:first-child {
		margin-top: 10px;
	}

	a {
		color: var(--color-primary-element);
		text-decoration: underline;
		padding: .5em 0;
	}

	p {
		margin-bottom: 1em;
		line-height: 150%;
	}

	em {
		font-style: italic;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		line-height: 120%;
		margin-top: 24px;
		margin-bottom: 12px;
		color: var(--color-main-text);
	}

	h1 {
		font-size: 36px;
		margin-top: 48px;
	}

	h2 {
		font-size: 28px;
		margin-top: 48px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 21px;
	}

	h5 {
		font-size: 17px;
	}

	h6 {
		font-size: 14px;
	}

	img {
		cursor: default;
		max-width: 100%;
	}

	hr {
		padding: 2px 0;
		border: none;
		margin: 1em 0;
		width: 100%;
	}

	hr:after {
		content: '';
		display: block;
		height: 1px;
		background-color: var(--color-border-dark);
		line-height: 2px;
	}

	pre {
		white-space: pre;
		overflow-x: auto;
		background-color: var(--color-background-dark);
		border-radius: var(--border-radius);
		padding: 1em 1.3em;
		margin-bottom: 1em;
	}

	p code {
		background-color: var(--color-background-dark);
		border-radius: var(--border-radius);
		padding: .1em .3em;
	}

	li {
		position: relative;
		padding-left: 3px;

		p {
			margin-bottom: 0.5em;
		}
	}

	ul, ol {
		padding-left: 10px;
		margin-left: 10px;
	}

	ul li {
		list-style-type: disc;
	}

	// Second-level list entries
	ul > li > ul > li {
		list-style-type: circle;
	}

	// Third-level and further down list entries
	ul > li > ul > li ul li {
		list-style-type: square;
	}

	blockquote {
		padding-left: 1em;
		border-left: 4px solid var(--color-primary-element);
		color: var(--color-text-maxcontrast);
		margin-left: 0;
		margin-right: 0;
	}

}

.ProseMirror-focused .ProseMirror-gapcursor {
	display: block;
}

.editor__content p.is-empty:first-child::before {
	content: attr(data-empty-text);
	float: left;
	color: var(--color-text-maxcontrast);
	pointer-events: none;
	height: 0;
}
